<?php

namespace Ienze\ObjectApi\Bar;

?>

<div class="nette-dataPanel">
	<h1>
		<?php if (empty($requests)): ?>
			No requests
		<?php else: ?>
			Requessts: <?php echo count($requests) ?>
		<?php endif ?>
	</h1>

	<div class="tracy-inner">

		<table>
			<thead>
				<tr>
					<th>Method</th>
					<th>Address</th>
					<th>Code</th>
					<th>Body</th>
				</tr>
			</thead>

			<tbody>
				<?php foreach ($requests as $request): ?>
					<tr>
						<td><?php echo $request['method'] ?></td>
						<td><?php echo $request['address'] ?></td>
						<td><?php echo $request['code'] ?></td>
						<td><div style="overflow-y: auto; max-height: 100px; max-width: 380px"><?php echo $request['body'] ?></div></td>
					</tr>
				<?php endforeach ?>
			</tbody>
		</table>
	</div>
</div>
