<?php

namespace Ienze\ObjectApi\Bar;

?>
<span title="ObjectApi">
<svg viewBox="0 0 14 14">
<text fill="#1A9D91" x="0" y="10" style="font-weight: bold; font-size: 11">{}</text>
</svg><span class="tracy-label"><?php echo count($requests) ?></span>
</span>